@{
    Layout = "~/Views/Shared/_DqdLayout.cshtml";
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">TT Sinh Viên</h1>
    <p>Họ và tên : Đỗ Quang Duy</p>
    <p>MSSV : 231230729</p>
</div>
